#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Now it’s time to test out our application. To start a Rack application, we’ll use the rackup command; make sure to prepend the command bundle exec when starting up the server in your terminal. The command you use to start our web application should look like:

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path